@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Variable.ttf") format('truetype');
}

:root {
  font-family: 'General Sans', sans-serif;
  font-size: 16px;
  --back-color: #242424;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--back-color);
}
